* {
	box-sizing: border-box;
}

main {
	margin-left: auto;
	margin-right: auto;
	font-size: 0;
}

.inner {

}

.inner-up {

}

.inner-down {

}

.green-box {

}

.blue-box {

}

.gray-box {

}

.black-box {

}

.orange-box {
	
}