/** {
	box-sizing: border-box;
}
*/
.top-gray {
	position: fixed;
	top: 0;
	background-color: gray;
	height: 80px;
	width: 100%;
	padding-right: 60px;
	padding-left: 60px;
}

.gray-cat {
	border: 1px solid black;
	border-radius: 50%;
	height: 90%;
	vertical-align: middle;
	
}

.list-menu {
	list-style: none;
	display: inline-block;
}

.list-menu li a:visited {
	color: orange;
}

.list-menu li {
	color: purple;
	display: inline-block;
}

body {
	background: url(../images/outerspace_landscape.jpeg) no-repeat;
	background-size: cover;
}

.green-box {
	border: 10px green dotted;
	position: relative;
	height: 300px;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 230px;
}

.cat-pic {
	width: 200px;
	height: 200px;
	position: absolute;
	top: -100px;
	left: -100px;
}

.dog-pic {
	width: 200px;
	height: 200px;
	position: absolute;
	bottom: -100px;
	right: -100px;
	}


